.slider {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
}

.slider-content {
    display: flex;
    animation: scroll 10s linear infinite;
}

.slider-item {
    flex: 0 0 auto;
}

.slider-item img {
    width: 100px; /* Adjust the size as needed */
    height: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}