.offerbanner_1 {
    background: linear-gradient(90deg, rgba(223, 211, 147, 1) 50%, rgba(5, 43, 38, 1) 110%) !important;
    backdrop-filter: blur(30px) !important;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.offerbanner_1.open {
    opacity: 1;
    transform: translateY(0);
}


.offerbanner_2 {
    width: 100%;
    height: 100%;
    position: relative;
}

.offerbanner_3 {
    height: 100%;
    background: #E5D896;
    box-shadow: 16px -6px 4px 0px #00000040 !important;
    position: relative;
    -webkit-mask-image: url('../../assest/Images/Vector\ 5.png');
    mask-image: url('../../assest/Images/Vector\ 5.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-clip: padding-box;
}



.offerbanner_4 {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, #DBAA4B 0%, #D5C173 50%, #DBAA4B 100%);
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 0.4rem;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
}

.scrolling-text {
    display: flex;
    gap: 2rem;
    /* Space between texts */
    animation: scrollText 10s linear infinite;
}

.offerbanner_4 h6 {
    font-family: "Taviraj", serif !important;
    font-weight: 600;
    font-style: italic;
    font-size: 28px;
    line-height: 30.4px;
    color: #000000;
    display: inline-block;
    white-space: nowrap;
}



.offerbanner_5 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
}

.offerbanner_5 h5 {
    font-family: "Lora", serif !important;
    font-weight: 600;
    font-size: 28px;
    line-height: 45.67px;
    letter-spacing: 0%;
    color: #042B26;
}


.offerbanner_6 {
    width: auto;
    height: auto;
    padding: 17px;
    background: #DBAA4B;
}

.offerbanner_6 h6 {
    font-family: "Roboto", serif !important;
    font-weight: 600;
    font-size: 22px;
    line-height: 25.74px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}


.offerbanner_7 {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #DBAA4B 0%, #D5C173 50%, #DBAA4B 100%);
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 0.4rem;
    position: absolute;
    bottom: 0;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}


.offerbanner_7 h6 {
    font-family: "Taviraj", serif !important;
    font-weight: 600;
    font-style: italic;
    font-size: 28px;
    line-height: 30.4px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
    display: inline-block;
    white-space: nowrap;
}


/* @keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
} */

@keyframes scrollText {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}



.offerbanner_8 {
    /* width: 50%; */
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 5%;
    bottom: 0;
}

.offerbanner_8 img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: contain;
}

.offerbanner_9 {
    width: auto;
    height: auto;
    border-radius: 13.9px;
    padding: 9.22px;
    background: #0000004D;
    border: 1.16px solid #00000033;
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 20px 0px #00000040;
    position: absolute;
    bottom: 1%;
    right: 6%;
}

.offerbanner_9 h6 {
    font-family: "Roboto", serif !important;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.4px;
    text-align: center;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 1rem;
}

.offerbanner_10 {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.offerbanner_11 {
    width: 180px;
    height: 60px;
    border: 2.38px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    border-radius: 0.2rem;
}

.offerbanner_11 img {
    width: 35px;
    height: 35px;
}

.offerbanner_12 {}

.offerbanner_12 p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18.4px;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin: 0;
}


.offerbanner_12 h5 {
    font-weight: 600;
    font-size: 15px;
    line-height: 15.4px;
    letter-spacing: 0%;
    color: #FFFFFF;
}


.offerbanner_13 {
    position: absolute;
    top: 3%;
    right: 2%;
}

.offerbanner_13 svg {
    font-size: 28px;
    color: #FFFFFF;
    cursor: pointer;
}